/*ESTILOS CSS - TCS*/

/*ETIQUETA*/
html,
body {
    height: 100%;
}

/*ID*/
#contenedor {
    min-height: 100%;
    position: relative;
}

#header {
    width: 100%;
    height: 120px;
}

#menu{
    clear: both;
}

#cuerpo {
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 25px; /* Tamaño del footer para evitar el sobreposicionamiento */
}

#footer {
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    color: #666;
}




/*CLASES GLOBALES*/
.requerido{
    color: red;
    padding-left: 5px;
    font-size: larger;
}

.panelInvisible tr, .panelInvisible td{
    background: none; border-style: none !important;
}

.datatable .ui-datatable-tablewrapper{
    overflow: auto;
}

.botonesPanel .ui-panelgrid-cell{
    padding: 3px; !important;
}

.mensajes{
    margin: 0 auto;
    width: 75%;
    text-align: center;
}



/*CONSULTA PREGUNTA*/




/*DETALLE PREGUNTA*/
.contenedorDetalle{

    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 5%;
    display: table;
}

.detalleDivDerecho{

    position: relative;
    width: 65%;
    float: right;
    margin-bottom: 2%;
    margin-top: 2%;
    display: table-column;
}

.tituloPregunta{

    font-weight: bold;
    font-size: 30px;
    text-align: justify;
    margin-right: 5%;
}

.ayudaPregunta{

    font-size: 12px;
    text-indent: 50px;
}

.opcionPregunta{
    font-size: 18px;
}

.panelOpcionesDetalle{

    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}

.detalleDivIzquierdo{

/*     position: absolute;*/
    width: 35%;
    float: left;
    margin-bottom: 2%;
    margin-top: 2%;
    top: 0;
    bottom: 0;
    display: table-column;


    position: relative;
    overflow: hidden;
}

.panelColumnaIzq{
    width: 250px;
    text-align: right;
    font-weight: bold;
}

.panelColumnaDer {
    width: 250px;
    font-size: medium;
}

.contenedorBotonesDetalle{

    position: relative;
    overflow: hidden;
    width: 100%;
    display: table;
}

.detalleBotones{
    display: table-row;
    margin-top: 3%;
    border: none;
}

.contenedorRanking{

    height: 50px;
    text-align: center;
    margin-right: 5%;
}



/*CREAR PREGUNTA*/

.encabezadoCrear{
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
}

.encabezadoCrearIzq{
    width: 25%;
}

.encabezadoCrearDer{
    width: 100%;

}

.encabezadoCrearDer .ui-inputtext{
    width: 90%;
}

.crearBotones{
    margin-top: 3%;
    border: none;
}




/*CREAR ENCUESTA*/

.acordeonCrearEncuesta{

    margin: 0 auto;
    margin-top: 5%;
    width: 70%;
}

.panelAcordeon{
    float: right;
}

.botonPreCreacion{

    font-size: small;
    text-align: center;
    padding-top: 15px;
}

.colIzqCrearEncuesta{
    width: 25%;

}

.colDerCrearEncuesta{
    width: 100%;
}

.colDerCrearEncuesta .ui-inputtext{
    width: 90%;
}





